body{
  background-color: #e5e5e7;
}

main > .container {
  padding: 20px 0;
}

.form-login {
  max-width: 350px;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.jumbotron{
  background-color: #8c8cb1;
  color: #fff;
  padding: 20px 0;
}